/*
    -------------------------- Layout du pied de page --------------------------
*/

footer {
    background-color: #f7ebe8;
    border-top: 1px solid black;
    color: #000;
}

.piedpage {
    display: flex;
    flex-direction: column;
    &__s1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        padding: 1%;
        &__externe{
            flex: 0 0 33%;
            & .menu{//ul
                display: flex;
                flex-direction: column; 
                padding-left: 0; 
                font-weight: bold;  
            }
            
            
        }
        &__adresse{
            flex: 0 0 33%;
            &__coord{
                font-weight: bold;
            }
            &__recherche{
                display: flex;
                justify-content: center;
            }
        }
        &__description{
            flex: 1 0 33%;
            font-weight: bold;
        }
    }
}