/*
    -------------------------- Layout du pied de page --------------------------
*/

footer {
    background-color: #fad8d0;
    
    color: #000;
    
    @media screen and (max-width:800px) {
        display: flex;
        flex-direction: column;
    }
}

.piedpage {
    display: flex;
    flex-direction: column;
    &__s1{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
        padding: 1%;

        @media screen and (max-width:800px) {
            display: flex;
            flex-direction: column;
        }

        &__externe{
            flex: 0 0 33%;
            & .menu{//ul
                display: flex;
                flex-direction: column; 
                padding-left: 0; 
                font-weight: bold;  
            }
            
            @media screen and (max-width:800px) {
                display: flex;
                flex-direction: column;
                order: 3;
            }
        }
        &__adresse{
            flex: 0 0 33%;
            &__coord{
                font-weight: bold;
            }
            &__recherche{
                display: flex;
                justify-content: center;
            }

            @media screen and (max-width:800px) {
                display: flex;
                flex-direction: column;
                order: 1;
            }
        }
        &__description{
            flex: 1 0 33%;
            font-weight: bold;

            @media screen and (max-width:800px) {
                display: flex;
                flex-direction: column;
                order: 2;
            }
        }
    }
}

.waveFooter {
    position: relative;
    top: 20px;
}