.hero{
    background-image: url("images/maldives.jpg");
    min-height: 100vh;
    background-size: cover;

    &__inscrire {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background-color: #fad8d0;
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__auteur {
        font-weight: bold;
    }

    &__adresse {
        font-weight: bold;
    }

    &__courriel {
        font-weight: bold;
    }
}
