// <article class="carte carte--grande">
//     <figure class="carte__image">
//         <img src="voyage.jpg" alt="Image de voyage">
//     </figure>
//     <div class="carte__contenu">
//         <h2 class="carte__titre"><?php the_title();?></h2>  
//         <p class="carte__description"><?php echo wp_trim_words(get_the_content(), 10, "...");?></p>
//         <button class="carte__bouton carte__bouton--actif">Suite</button>
//     </div>
// </article>

/*--------------------------------------------*/

.carte {

    display : flex;
    flex-direction: column;
    justify-content: space-between;

    &--grande{
        flex: 1 1 250px;
    }

    &__image{
        img{
            width: 100%;
        }
    }
    &__contenu{
        background-color: aliceblue;
    }

    &__titre {
        text-align: center;
    }

    &__description {

    }

    &__bouton {
        color: black;
        background-color: rgb(172, 234, 255);
        border: 2px solid black;
        border-radius: 10%;
        padding: 5px;
        &--actif{

        }
    }
}

.post-categories li{
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10%;
    padding: 2px;

}

.post-categories {
    display: flex;
    justify-content: space-evenly;
}