/*
    -------------------------- Composant des cartes --------------------------
*/
.carte {

    display : flex;
    flex-direction: column;
    justify-content: space-between;

    &--grande{
        flex: 1 1 250px;
    }

    &__image{
        img{
            width: 100%;
        }
    }
    &__contenu{
        background-color: aliceblue;
    }

    &__titre {
        text-align: center;
    }

    &__description {
        font-weight: bold;
    }

    &__bouton {
        color: black;
        background-color: #f7ebe8;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 10%;
        padding: 5px;
        // &--actif{

        // }
    }
}

.post-categories li{
    background-color: #f7ebe8;
    border: 2px solid black;
    border-radius: 10%;
    padding: 2px;

}

.post-categories {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-left: 0;
}

.post-categories a {
    color: #e54b4b;
    font-weight: bold;
    text-decoration: none;
}

.carte__contenu {
    background-color: #fad8d0;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    text-align: center;
    min-height: 449px;

    @media screen and (max-width:800px) {
        min-height: 380px;
    }
}

.carte__contenu img{
    width: 200px;
    height: 140px;
    border: 1px black solid;
}

.carte__contenu:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

p {
    font-weight: bold;
}
