/*
    -------------------------- Composant de la barre de recherche --------------------------
*/
.recherche{
    display:flex;
    height: 1.6rem;
    width : 14rem;
    border: 1px solid  rgba(0, 0, 0, 0.1);
    border-radius: 30px;

// le & prend la valeur du sélecteur parent 
    &__input{
        border : none;
        outline: none;
        background-color: rgba(0,0,0, .01);
        flex : 1 0 auto;
        padding : 3px;
        &:hover{
            background-color: rgba(0,0,0, .05); 
        }
        &::placeholder{
            color: rgba(0,0,0, .2);
            font-style : italic;
        }

    }
    &__bouton {
        background-color: transparent;
        border: none;
        border-radius: 0 30px 30px 0;
    }
    
    &__img{
        flex: 0 0 20px; 
        padding : 3px;
    }
}